name: ci
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Sync submodules
        run: git submodule update --init --recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Install deps
        run: forge install foundry-rs/forge-std --no-git
      - name: Build & test contracts
        run: |
          forge build
          forge test -vvv
      - name: Build app
        run: |
          cd app
          npm i --silent
          npm run build --if-present
